Bug in HTTPClient/IXR_Library when using proxy

I was trying to use the sync Plugin at masterwiki to sync to siteA and siteB

masterwiki is configured to use an outbound proxy for updates etc. That works fine.

for the connection to siteA and siteB a proxy except is defined '.siteA|.siteB' - this also works in the way that the proxy isn't used and direct connection is established  BUT

for siteA the sync works almost all of the time.
for siteB the sync works almost never.

apache Logs on siteA/siteB look like this (with proxy) (after clicking the Select Button for the sync profile)

```
[21/Apr/2020:10:57:07 +0200] "POST /dokuwiki/lib/exe/xmlrpc.php HTTP/1.0" 200 6608 "-" "Mozilla/4.0 (compatible; DokuWiki HTTP Client; Linux)"
[21/Apr/2020:10:57:07 +0200] "POST /dokuwiki/lib/exe/xmlrpc.php HTTP/1.0" 200 6121 "-" "Mozilla/4.0 (compatible; DokuWiki HTTP Client; Linux)"
[21/Apr/2020:10:57:07 +0200] "POST /dokuwiki/lib/exe/xmlrpc.php HTTP/1.0" 200 6157 "-" "Mozilla/4.0 (compatible; DokuWiki HTTP Client; Linux)"

```
and for siteB I usually get a 
transport error - Premature End of File (socket) while reading headers


after removing the proxy host setting siteA and siteB WORK BOTH flawlessly ALL of the time

apache Logs on siteA/siteB look like this (without proxy):

```
[21/Apr/2020:10:56:00 +0200] "POST /dokuwiki/lib/exe/xmlrpc.php HTTP/1.0" 200 6641 "-" "Mozilla/4.0 (compatible; DokuWiki HTTP Client; Linux)"
[21/Apr/2020:10:56:00 +0200] "POST /dokuwiki/lib/exe/xmlrpc.php HTTP/1.0" 200 506 "-" "Mozilla/4.0 (compatible; DokuWiki HTTP Client; Linux)"
[21/Apr/2020:10:56:00 +0200] "POST /dokuwiki/lib/exe/xmlrpc.php HTTP/1.0" 200 542 "-" "Mozilla/4.0 (compatible; DokuWiki HTTP Client; Linux)"
```

Note the difference in Size!

So the behaviour is different when proxy host is set even though the proxy except prevents the masterwiki from using the configured proxy.

I was first suspecting network problems because it seemed to work with siteA and failed with siteB but this seems to be just "luck" or timing issues. siteA has a way better connection and faster Hardware (I'm telling this because I suspect some kind of silly race)

All 3 wikis are the same setup (up to date debian 10.3), everything is HTTPS
```
ii  dokuwiki       0.0.20180422.a-2 all          standards compliant simple to use wiki
ii  php7.3         7.3.14-1~deb10u1 all          server-side, HTML-embedded scripting language (metapackage)
ii  apache2        2.4.38-3+deb10u3 amd64        Apache HTTP Server
ii  libapache2-mod-php7.3 7.3.14-1~deb10u1 amd64        server-side, HTML-embedded scripting language (Apache 2 module)
```

So there is definitely a difference in behavior of the HTTPClient when a proxy is configured even though the except list matches and a direct connection is established compared to a setup where no proxy is configured at all. I don't think that's right (and it makes sync fail in some cases)

let me know if I can provide further info.

  Tom



You could probably start from here. This is the only difference `except` will make during the request.

https://github.com/splitbrain/dokuwiki/blob/31a58aba4c24b34c34ad5764d1a35b7c398c3a2c/inc/HTTP/HTTPClient.php#L188-L199

Also if you define your `proxy['except']` like `.siteA|.siteB`, that might not work as you expect since it needs to be a regexp.

Also it you still need assistance, could you post your redacted proxy config?

I think you missunderstood:

I tried with various proxy['except'] strings (lack of examples).
I can verify on the proxy that dokuwiki does NOT hit the proxy at all - the connection is established directly.
I can also see the direct connection on the remote site - in fact my proxy can't reach siteA/B at all.

So the descission wether to go via proxy or directly works.

Just the behaviour is different:
If a proxy is configured AND the except descission was made to go direct it fails.
If no proxy is configured at all it works.


Just guessing: Is maybe some escaping of the string needed before it is included in the preg_match()? That escaping should already be added in the config, because as programmer you do not know where it should be included

Some uses of the preg_match can be found in the source code
https://codesearch.dokuwiki.org/search?project=dokuwiki&q=preg_match&defs=&refs=&path=&hist=&type=&n=25 maybe the gittool.php provide some inspiration?

You all focus on the wrong issue.

The except String decides wether to use a the proxy for a connection or not, right? It is an on/off switch for proxy use.

This switch WORKS. It turns OFF proxy use for what I want.
NO communication via proxy then.

BUT the then DIRECT connections to siteA and siteB FAIL if the proxy['host'] variable IS set.

If I remove the proxy variable completely, the DIRECT connection works.

so setting $conf['proxy']['host']  messes something up even though a direct connection is established!

this can't be right







ah, sorry I got it a bit more. I react to quick.

Maybe you could add some debug statements, such that you can trace where in HTTPClient the handling is done, and where it change if you add/remove setting $conf['proxy']['host']?

At two places the proxy_host value is checked. My first feeling is that these are features you are using, but it might they are?

What does connection fail mean? that it not working, or that you got errors as well? It interesting to understand where it stops..

(there is a unit tests, but no one is covering the combined host/except settings. https://github.com/splitbrain/dokuwiki/blob/master/_test/tests/inc/httpclient_http_proxy.test.php)

thanks for caring.

Could you please read my initial post again. I really tried to clearly describe there what I'm doing / the setup and problem. Right now I could only repeat what's written there already - including the error i get.

I'm not into php and I haven't found a way to get me some useful debug info at all from the php part while dealing with this. Advice on how to do so would be welcome.





Which version of dokuwiki are you using?
Sorry, the description read for me as general description..

Googling your error, points e.g. to https://github.com/splitbrain/dokuwiki-plugin-upgrade/issues/30
suggested there is to check if the ssl support enabled in php?

Further I have no ideas. Maybe others know what is the most helpful info to provide to understand the situation.

sorry, we're just adding bloat to this issue - everything you ask so far is already answered or outruled in the originial post


@tom42-gh since we're not able to easily reproduce the issue, you will need to do some debugging. Simplest way is to set enable `allowdebug` option and then sprinkle some `dbglog()` calls within the HTTPClient code. The log will be written to data/cache/debug.log

Start at the place @phy25 suggested above where the except handling takes place.

@tom42-gh I just looked through the HTTPClient Code and noticed a possible bug. Do your sites use HTTPS? Because it seems the `ssltunnel` method only checks for the existence of `proxy_host` but not for the exceptions

@splitbrain; I "backported" your patch but it doesn't solve the problem.

But digging deeper (and with setting the $debug of HTTPClient to true) I got usable output which I think explains the problem:

with a proxy defined (plus working exception) I see this for the direct connection:
```
...
    [cache-control] => no-store, no-cache, must-revalidate
    [pragma] => no-cache
    [content-encoding] => gzip
    [content-length] => 113
    [connection] => close
    [content-type] => text/xml; charset=utf-8
...
POST /dokuwiki/lib/exe/xmlrpc.php HTTP/1.0
Accept-encoding: gzip
Accept: text/xml,application/xml,application/xhtml+xml,text/html,text/plain,image/png,image/jpeg,image/gif,*/*
Accept-Language: en-us
Content-Type: text/xml
User-Agent: Mozilla/4.0 (compatible; DokuWiki HTTP Client; Linux)
Connection: Close
...
```

and it ends with this POST request


Whereas with not proxy at all it looks like this:

```
...
    [cache-control] => no-store, no-cache, must-revalidate
    [pragma] => no-cache
    [content-encoding] => gzip
    [content-length] => 113
    [keep-alive] => timeout=5, max=100
    [connection] => Keep-Alive
    [content-type] => text/xml; charset=utf-8
...
POST /dokuwiki/lib/exe/xmlrpc.php HTTP/1.0
Accept-encoding: gzip
Accept: text/xml,application/xml,application/xhtml+xml,text/html,text/plain,image/png,image/jpeg,image/gif,*/*
Accept-Language: en-us
Content-Type: text/xml
User-Agent: Mozilla/4.0 (compatible; DokuWiki HTTP Client; Linux)
Content-Length: 120
Connection: Keep-Alive
...
```

and more POSTs follow.

Note the Connection: Keep-Alive vs. Connection: Close Header.

I guess for the good and fast connection the siteA this somehow still works out most of the time whereas for the rather slow  connection to siteB it's just not quick enough most of the time. At least this would explain the described behaviour in my original post.

The culprit is probably around this:
```
            // try establish a CONNECT tunnel for SSL
            try {
                if($this->_ssltunnel($socket, $request_url)){
                    // no keep alive for tunnels
                    $this->keep_alive = false;
                    // tunnel is authed already
                    if(isset($headers['Proxy-Authentication'])) unset($headers['Proxy-Authentication']);
                }
[...]

        if ($this->keep_alive && !$this->useProxyForUrl($request_url)) {
            // RFC 2068, section 19.7.1: A client MUST NOT send the Keep-Alive
            // connection token to a proxy server. We still do keep the connection the
            // proxy alive (well except for CONNECT tunnels)
            $headers['Connection'] = 'Keep-Alive';
        } else {
            $headers['Connection'] = 'Close';
        }
```


But that's a bit too much for my brain right now




It would be helpful if you could post the full debug output for siteA and siteB. Keep-Alive should be disabled for proxy connections, but if I understand this thread correctly both connections should not use a proxy and thus Keep-Alive should be used on both...

Beside timing issues that make it more likely to trigger the bug, threre is no difference between A and B... so we might better ignore this siteA/B issue.

The problem boils down to this:
1) No proxy configured at all, Keep-Alive is set -> OK
2) proxy configurerd, Keep-Alive is unset -> OK
3) proxy configured with exception, and USING the exception, Keep-Alive is unset on the DIRECT connection -> FAIL

Only 3) is the actual problem

this is what my dumps above actually show